<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
<title><%= container.name %></title>
</head>

<body>
<h1><%= container.name %> <a href="/container/<%= container.id %>/edit">edit</a></h1>
<h4><strong><%= container.image %></strong></h4>
<p>You are viewing <%= container.name %></p>
</body>
</html>
